:root {
    --shade: 2px 2px 4px rgba(0, 0, 0, 0.7)
}

html {
    font-family: "Poppins";
}

h1 {
    font-size: 26px;
    color: white;
    text-align: center;
    margin: 0;
    padding: 5px;
    text-shadow: var(--shade);
}

.homebutton:hover {
    cursor: pointer;
}

.homebutton {
    font-family: "Poppins";
    font-size: 26px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    text-align: center;
    margin: 0;
    padding: 5px;
    text-shadow: var(--shade);
}

.mode {
    font-family: "Poppins";
    font-size: 25px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    text-align: center;
    margin: 0;
    padding: 0px;
    text-shadow: var(--shade);
}

.mode:hover {
    cursor: pointer;
}

p {
    font-size: larger;
    text-align: center;
    color: white; 

    animation-duration: 1500ms ease;
    animation-name: questionFade;
}

.skip {
    font-family: "Poppins";
    font-size: larger;
    color: white; 
    background-color: #4671bd;
    border-radius: 7px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-shadow: var(--shade);
    box-shadow: var(--shade);
    transition: 200ms ease;
}

.skip:hover{
    scale:1.1;
    background-color: #6591dd;
    cursor: pointer;
}

body {
    font-family: "Poppins";
    margin: 0px;
    padding: 0px;
    background-color: #222222;
}

.top {
    display:flex;
    justify-content: left;
    align-content: center;
    background-color: #4671bd;
    width: 100%;
    height: 50px;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
}

.questioncontainer {
    padding: 5px;
    display: flex;
    justify-content: center;
}

.inputcontainer {
    padding: 5px;
    display: flex;
    justify-content: center;
}

.center {
    padding: 25px;
    display: flex;
    justify-content: center;
}

.triviacontainer {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100px;
    padding-left: 10px;
}

input {
    text-align: center;
    background-color: white;
    border-radius: 10px;
    border: none;
    box-shadow: var(--shade);
    font-size: 25px;
    height: 30px;
    opacity: 100%;
}

input:focus {
    outline: none;
}

@keyframes 
greenFade {
    0%{
        background-color: #77ff77;
    }
    100%{
        background-color: white;
    }
}

@keyframes 
redFade {
    0%{
        background-color: #ff7777;
    }
    100%{
        background-color: white;
    }
}

@keyframes 
questionFade {
    0%{
        opacity: 100%;
    }
    25%{
        opacity: 0%;
    }
    75%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}